$color-black: rgb(6, 14, 6);
$color-black-transparency: rgb(6, 14, 6, 0.1);
$color-white: rgb(247, 255, 247);
$color-red: rgb(255, 107, 107);
$color-yellow: rgb(255, 230, 109);
$color-turquoise: rgb(78, 205, 196);
